<ion-content overflow-scroll="false" scrollbar-x="false" scrollbar-y="true" style="overflow: hidden;">
<div class="button button-stable" ng-repeat="server in serverDirectory"
    style="padding:5px;width:100%;text-align:left;margin:5px;margin:0px;padding-left:14px;border-width:0px;color:#264561;background-color:transparent;" on-tap="setServer(server)">
    <!-- <i class="icon ion-camera"></i>&nbsp;&nbsp;-->
    {{ server.name | limitTo: 30 }}
</div>

<div ng-if="serverDirectory.length==0" style="color:red;">
    Das öffentliche Serververzeichnis konnte nicht geladen werden.
</div>

<div
    class="button button-stable" style="color:#264561;background-color:transparent;border-color:transparent; border-top-color:grey;padding:5px;width:100%;text-align:left;margin-top:10px;padding-left: 14px;"
    on-tap="setServer({'name':null,'url':'https://'})">Server selber angeben</div>
</ion-content>