
<ion-view view-title="Detail" id="detail-ion-view">
    <ion-content delegate-handle="detailScroll" scroll=true scrollbar-y=true scrollbar-x=false direction="y" style="
        background-color: #666;
    ">
    <div ng-hide="detailLoading" style="background-color: #666; min-height: 800px;{{loadingDelay ? 'opacity: 0.01;' : ''}}
" ng-bind-html="dynamicHTML" id="renderDiv" >
        ...
    </div>
    <div ng-show="detailLoading" style="padding-top: 30px;
    text-align: center;
    color: lightgrey;">
        <svg class="spinner" width="32px" height="32px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
           <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div style="height: 66px;">
     &nbsp;
    </div>
    </ion-content>


    <div class="render-footer">
        <button on-tap="close()" class="button icon ion-android-arrow-back render-footer-button">&nbsp;ZURÜCK</button>
        <button ng-show="showAddCollection" on-tap="addToCollection()" class="button icon ion-social-buffer render-footer-button" style="
            position: absolute;
            width: 40px;
            right: 72px;
        "></button>
        <button ng-disabled="!showDownload" on-tap="download()" class="button icon ion-android-download render-footer-button" style="
            position: absolute;
            width: 40px;
            right: 20px;
        "></button>
    </div>

</ion-view>