<ion-view>

    <ion-content ng-cloak overflow-scroll="true" class="mainColorDarkBackground">

        <div ng-show="showTopSpace" style="margin:16px; margin-top: 4px; max-width: 320px; margin-left: auto; margin-right: auto;">
            <div style="
                color: white;
                font-size: 200%;
                font-weight: bold;
                ">
                Anmelden
            </div>
            <div style="
                color: lightgrey;
                padding-top: 8px;
                font-size: 80%;
            ">
                Melde dich mit deinen Daten auf dem gewählten Server an.
            </div>
        </div>

        <table width="100%" ng-show="!loading">
        <tr>
            <td width="*">&nbsp;</td>
            <td width="320">
                <div id="login-card" style="max-width: 400px; background-color: white; border-radius: 6px;">
                    <div style="width:100%; height: 45px; padding-top: 10px; padding-bottom: 4px; background-color: lightgrey; border-top-left-radius: 6px; border-top-right-radius: 6px;">
                    <table ng-hide="loginServer==null" ng-click="serverBack()" style="width: 100%;">
                        <tr>
                            <td style="padding-left: 24px; vertical-align: middle; width: 53px;" >
                                <i class="icon ion-android-arrow-back" style="right: 18px; font-size: 150%; color: #315774;"></i>
                            </td>
                            <td style="width: 28px;">
                                <img src="{{loginServer.image}}" onerror="this.src='img/server_default.png'" style="
                                border-radius: 4px;
                                height: 25px;
                                width: 25px;
                                border-width: 1px;
                                border-color: #eee;
                                border-style: solid;
                                background-color: white;
                                ">
                            </td>
                            <td style=" vertical-align: middle; padding-left: 4px;">
                                <div style="font-weight: bold;">{{loginServer.name}}</div>
                            </td>
                        </tr>
                    </table>
                    </div>

                    <table style="width: 90%;">
                        <tr>
                            <td width="50px" style="
                                vertical-align: bottom;
                                padding-left: 24px;
                                padding-bottom: 1px;">
                                <i class="icon ion-android-person textDarkGray" style="font-size: 160%;"></i>
                            </td>
                            <td class="{{userAnimationPulsateSimple ? 'animationPulsateSimple' : '';}}" style="
                                border-bottom-width: 1px;
                                border-bottom-color: lightgrey;
                                border-bottom-style: solid;
                                padding-top: 8px;"
                                >
                                <label class="item item-input item-floating-label" style="border-width: 0px !important; padding-left: 8px;">
                                    <span class="input-label" style="font-size: 75%; color: grey;">Benutzername</span>
                                    <input id="login-username" ng-model="loginUser" type="text" placeholder="Benutzername" style="height: 17px;"
                                           ng-keydown="passwordOnKey($event, loginUser, loginPassword, loginServer)"
                                           ng-focus="inputFocus(true)" class="textDarkGray" focus-me="{{focus=='user'}}" >
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px" style="
                                vertical-align: bottom;
                                padding-left: 24px;
                                padding-bottom: 1px;">
                                <i class="icon ion-android-lock textDarkGray" style="font-size: 160%;"></i>
                            </td>
                            <td class="{{passAnimationPulsateSimple ? 'animationPulsateSimple' : '';}}" style="
                                border-bottom-width: 1px;
                                border-bottom-color: lightgrey;
                                border-bottom-style: solid;
                                padding-top: 8px;"
                            >
                                <label class="item item-input item-floating-label" style="border-width: 0px !important; padding-left: 8px;">
                                    <span class="input-label" style="font-size: 75%; color: grey;">Passwort</span>
                                    <input id="login-password" ng-model="loginPassword" type="password" placeholder="Passwort" style="height: 17px;"
                                           ng-keydown="passwordOnKey($event, loginUser, loginPassword, loginServer)"
                                           ng-focus="inputFocus(true)" focus-me="{{focus=='password'}}" >
                         </label>
                     </td>
                 </tr>
             </table>

             <div class="list padding">
                 <button class="button button-block darkBackLightText-Button"
                         ng-click="loginClick(loginUser, loginPassword, loginServer)"
                         style="border-width: 0px; margin-top: 8px;">
                     <span>ANMELDEN</span>
                 </button>
             </div>

         </div>

     </td>
     <td width="*">&nbsp;</td>
 </tr>
 </table>

 <p ng-show="(!loading && (appVersion!=='BROWSER'))" style="margin:16px; margin-top: 16px; max-width: 320px;
                             margin-left: auto; margin-right: auto; text-align:center; color: darkgrey; font-size: 80%;">
   Version {{appVersion}}
 </p>

</ion-content>

</ion-view>
